@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/typography/text' as t;
@use '../../../../scss/mixins/typography/labels' as l;

.contact-panel {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: v.$c-dark-grey;
	box-shadow: v.$shadow-1;
	padding: 16px;
	opacity: 0;
	visibility: hidden;
	transform: translateY(100%);
	transition: visibility ease-in-out v.$tr, opacity ease-in-out v.$tr, transform ease-in-out v.$tr;
	z-index: 100;

	&.showed {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

	&-inner {
		width: 100%;
		max-width: 1200px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 16px;
		margin: 0 auto;

		@media(min-width: v.$md) {
			gap: 32px;
			justify-content: space-between;
		}
	}

	&-left {
		display: flex;
		align-items: center;
		gap: 12px;

		p {
			color: v.$c-black;

			@include t.t-text;
		}
	}

	&-item {
		display: none;
		align-items: center;
		gap: 6px;

		@include l.t-label;

		@media(min-width: v.$md) {
			display: flex;
		}

		& {
			color: v.$c-white;
		}

		&::after {
			content: '';
			display: block;
			width: 4px;
			height: 4px;
			background-color: v.$c-white;
			border-radius: 50%;
		}

		&:last-child::after {
			display: none;
		}
	}
}