<div class="contact-panel" id="contact-panel">
    <div class="contact-panel-inner">
        <div class="contact-panel-left">
            <div class="contact-panel-item">
                Get limited deals first
            </div>
            <div class="contact-panel-item">
                Limited inventory
            </div>
            <div class="contact-panel-item">
                Verified only
            </div>
            <div class="contact-panel-item">
                No spam
            </div>
            <div class="contact-panel-item">
                Direct contact
            </div>
        </div>
        <div class="contact-panel-right">
            <a href="#" class="button sm green" target="_blank" rel="noopener noreferrer">
                <img src="/img/whatsapp-3d.png" width="24" height="24" alt="Векторная иконка">
                GET THIS DEAL
            </a>
        </div>
    </div>
</div>