@use '../vars/vars' as v;
@use '../mixins/typography/text' as p;
@use '../mixins/global' as g;

.beds-baths-dropdown {
    width: 252px;
	position: absolute;
	top: calc(100% + 8px);
	left: 50%;
	z-index: 90;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    border-radius: v.$br16;
    background-color: v.$c-white;
    overflow: hidden;
    box-shadow: v.$shadow-1;

    &[hidden] {
        display: none;
    }

	&.fixed {
		position: fixed;
		top: 25%;

		@media(min-width: v.$md) {
			position: absolute;
			top: calc(100% + 8px);
		}
	}
}

.beds-baths-content {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.beds-baths-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.beds-baths-label {
    color: v.$c-black;
    text-align: left;
}

.beds-baths-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.beds-baths-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    padding: 8px;
    border-radius: v.$br8;
    background-color: v.$c-grey-95;
    color: v.$c-grey;
    border: 2px solid transparent;
    cursor: pointer;
    transition: background-color v.$tr, color v.$tr, border-color v.$tr;

    @include p.t-text;

    @include g.hover {
        background-color: v.$c-grey-90;
    }

    &:focus-visible {
        outline: 2px solid v.$c-grey;
    }

    &.active {
        background-color: v.$c-green;
        color: v.$c-white;
        border-color: v.$c-green;

        @include g.hover {
            background-color: v.$c-light-green;
        }
    }
}

.beds-baths-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}