@use '../vars/vars' as v;
@use '../mixins/typography/titles' as t;
@use '../mixins/typography/text' as p;
@use '../utils/placeholders/buttons/button' as *;

.dropdowns {
	width: 100%;
	padding: 32px 0;
	background-color: v.$c-grey-97;
	margin-bottom: 10px;

	@media(min-width: v.$lg) {
		padding: 64px 0;
	}

	&.white {
		background-color: v.$c-white;
	}

	&-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 32px;

		h3 {
			color: v.$c-black;

			@include t.t-header;
		}
	}

	&-items {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}
}

.dropdown {
	width: 100%;

	&-button {
		@extend %button;

		gap: 10px;
	}

	&-title {
		color: v.$c-black;
		text-align: left;

		@include t.t-title-bold;
	}

	&-arrow {
		width: 16px;
		height: 16px;
		display: inline-block;
		transition: transform ease-in-out v.$tr;
		flex-shrink: 0;

		img {
			width: 100%;
			height: 100%;
			aspect-ratio: 1;
		}
	}

	&-content {
		width: 100%;
		max-width: 600px;
		height: 0;
		overflow: hidden;
		transition: height ease-in-out v.$tr, margin-top ease-in-out v.$tr;
		padding-left: 24px;

		p,
		li {
			color: v.$c-black;

			@include p.t-text;
		}

		ul {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			list-style: disc;
			list-style-position: inside;
		}
	}

	&-inner {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}

	&-block {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&.opened {
		.dropdown-content {
			margin-top: 10px;
		}

		.dropdown-arrow {
			transform: rotate(180deg);
		}
	}
}