@use '../vars/vars' as v;
@use '../mixins/typography/text' as t;

.label {
	display: flex;
	justify-content: center;
	align-items: center;
	color: v.$c-white;
	padding: 4px 5px;
	border-top-right-radius: v.$br8;
	border-bottom-left-radius: v.$br8;

	@include t.t-smallest(true);

	&.orange {
		background-color: v.$c-orange;
	}

	&.black {
		background-color: v.$c-black;
	}

	&.red {
		background-color: v.$c-red;
	}

	&.grey {
		background-color: v.$c-grey-97;
		color: v.$c-black;
	}
}