@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/typography/text' as t;
@use '../../../../scss/mixins/typography/labels' as l;
@use '../../../../scss/utils/placeholders/buttons/button' as *;
@use '../../../../scss/mixins/global' as g;

.button {
	@extend %button;

	flex-shrink: 0;
	gap: 7px;
	border-radius: v.$br8;
	text-transform: uppercase;
	outline: 3px solid transparent;

	&.black {
		background-color: v.$c-black;
		color: v.$c-white;
		outline: 3px solid transparent;

		@include g.hover {
			background-color: v.$c-dark-grey;
		}

		&:active {
			scale: 0.95;
			background-color: v.$c-black;
		}

		&:focus-visible {
			outline-color: v.$c-black;
			background-color: v.$c-grey;
		}

		&.sm {
			padding: 9.5px 12px;

			@include t.t-text;

			img {
				width: 16px;
				height: 16px;
			}
		}

		&.xl {
			padding: 13px;
			border: none;
			min-height: 40px;

			@include l.t-label;

			@media(min-width: v.$md) {
				min-height: 50px;
			}

			img {
				width: 16px;
				height: 16px;

				@media(min-width: v.$lg) {
					height: 24px;
					width: 24px;
				}
			}
		}
	}

	&.green {
		background-color: v.$c-green;
		color: v.$c-white;

		&.sm {
			padding: 9.5px 12px;
			border: none;

			@include t.t-text;

			img {
				width: 16px;
				height: 16px;
			}
		}

		&.xl {
			padding: 13px;
			border: none;
			min-height: 40px;

			@include l.t-label;

			@media(min-width: v.$md) {
				min-height: 50px;
			}

			img {
				width: 16px;
				height: 16px;

				@media(min-width: v.$lg) {
					height: 24px;
					width: 24px;
				}
			}
		}

		@include g.hover {
			background-color: v.$c-light-green-hover;
		}

		&:active {
			scale: 0.95;
			background-color: v.$c-light-green;
		}

		&:focus-visible {
			outline-color: v.$c-light-green;
			background-color: v.$c-green;
		}
	}

	&.gray {
		background-color: v.$c-grey-90;
		color: v.$c-grey;

		&.sm {
			padding: 9.5px 12px;

			@include t.t-text;

			img {
				width: 16px;
				height: 16px;
			}
		}

		&.xl {
			padding: 13px;

			@include l.t-label;

			img {
				width: 24px;
				height: 24px;
			}
		}

		@include g.hover {
			background-color: v.$c-grey-95;
		}

		&:active {
			scale: 0.95;
			background-color: v.$c-grey-97;
		}

		&:focus-visible {
			outline-color: v.$c-text-grey;
			background-color: v.$c-grey-90;
		}
	}
}