@forward '../../html/components/cards/property-card/property-card';
@forward '../../html/components/common/banner/banner';
@forward '../../html/components/common/footer/footer';
@forward '../../html/components/common/header/header';
@forward '../../html/components/modals/image-modal/image-modal';
@forward '../../html/components/ui/button/button';
@forward '../../html/components/ui/contact-panel/contact-panel';
@forward '../../html/sections/index/contact/contact';
@forward '../../html/sections/index/dropdowns/dropdowns';
@forward '../../html/sections/index/hero/hero';
@forward '../../html/sections/index/ico-text/ico-text';
@forward '../../html/sections/index/map/map';
@forward '../../html/sections/index/properties/properties';
