@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/typography/titles' as t;
@use '../../../../scss/mixins/typography/text' as p;
@use '../../../../scss/utils/placeholders/buttons/button' as *;

.properties-section {
	width: 100%;
	padding: 32px 0;

	@media(min-width: v.$lg) {
		padding: 64px 0;
	}

	&-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 32px;
	}

	.title-top {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		align-items: center;
		justify-content: space-between;

		h2 {
			color: v.$c-black;

			@include t.t-header;
		}

		.sort {
			@extend %button;

			color: v.$c-black;
			gap: 4px;

			@include p.t-text;
		}
	}

	&-items {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}
}