<div class="modal-wrapper gallery-modal dark " data-modal-id="gallery-modal">
    <div class="modal">
        <div class="modal-top">
            <div class="gallery-modal-counter"></div>
            <button class="modal-close" data-modal-close aria-label="Close">
                <img src="/img/close-white.svg" width="24" height="24" alt="Close icon">
            </button>
        </div>
        <div class="swiper gallery-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/img/h1.jpg" alt="Gallery Image"></div>
                <div class="swiper-slide"><img src="/img/h2.jpg" alt="Gallery Image"></div>
                <div class="swiper-slide"><img src="/img/h3.jpg" alt="Gallery Image"></div>
                <div class="swiper-slide"><img src="/img/h4.jpg" alt="Gallery Image"></div>
                <div class="swiper-slide"><img src="/img/h5.jpg" alt="Gallery Image"></div>
                <div class="swiper-slide"><img src="/img/h6.jpg" alt="Gallery Image"></div>
                <div class="swiper-slide"><img src="/img/h2.jpg" alt="Gallery Image"></div>
                <div class="swiper-slide"><img src="/img/h3.jpg" alt="Gallery Image"></div>
            </div>
        </div>
        <div class="swiper-actions">
            <button class="swiper-prev gallery-arrow-prev">
                <img src="/img/swiper-arr.svg" width="16" height="16" alt="Prev">
            </button>
            <button class="swiper-next gallery-arrow-next">
                <img src="/img/swiper-arr.svg" width="16" height="16" alt="Next">
            </button>
        </div>
    </div>
</div>
