@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/typography/titles' as t;
@use '../../../../scss/mixins/typography/text' as p;
@use '../../../../scss/utils/placeholders/buttons/button' as *;
@use '../../../../scss/mixins/global' as g;

.plan-modal {
	padding: 20px;

	.modal {
		width: 100%;
		max-width: 851px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;
	}

	.plan-img {
		border-radius: v.$br16;
	}
}