@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/typography/titles' as h;
@use '../../../../scss/mixins/typography/labels' as l;
@use '../../../../scss/mixins/typography/text' as t;

.unit-card {
	width: 100%;

	&-inner {
		display: flex;
		flex-direction: column;
		align-items: stretch;

		@media(min-width: v.$md) {
			flex-direction: row;
		}
	}

	&-left {
		display: flex;
		width: 100%;

		@media(min-width: v.$md) {
			max-width: 250px;
		}
	}

	.single-swiper {
		position: relative;

		.swiper-buttons {
			width: 100%;
			height: 32px;
			position: absolute;
			left: 0;
			bottom: 8px;
			display: flex;
			align-items: center;
			gap: 16px;
			padding: 0 8px;
			justify-content: space-between;
			z-index: 10;
		}

		.swiper-slide {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-top-left-radius: v.$br12;
				border-top-right-radius: v.$br12;

				@media(min-width: v.$md) {
					border-bottom-left-radius: v.$br12;
					border-top-right-radius: v.$br12;
					border-top-right-radius: 0;
				}
			}
		}
	}

	&-right {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex-grow: 1;
		padding: 16px;
		gap: 16px;
		border: 1px solid v.$c-grey-95;
		border-bottom-left-radius: v.$br8;
		border-bottom-right-radius: v.$br8;

		@media(min-width: v.$md) {
			border-left: 0;
			border-radius: v.$br8;
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
			padding: 16px 16px 16px 32px;
		}
	}

	&-top {
		width: 100%;
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 24px;
		margin-bottom: auto;

		&-left {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 4px;

			.unit-card-dev {
				color: v.$c-black;

				@include l.t-label;
			}
		}

		&-title {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 8px;

			.unit-card-price {
				color: v.$c-black;

				@include h.t-title-bold;
			}

			.old-price {
				text-decoration: line-through;
			}

			.sold {
				color: v.$c-green;
			}

			.unit-card-desc {
				color: v.$c-black;

				@include l.t-label;
			}

			.real-estate {
				text-decoration: underline;
				color: v.$c-black;

				@include t.t-text;
			}
		}

		&-right {
			display: flex;
		}

		.unit-card-labels {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 8px;
		}
	}

	&-bottom {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;
	}

	&-info {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;

		&-top {
			width: 100%;
		}

		&-bottom {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			gap: 16px;

			p {
				color: v.$c-black;

				@include t.t-text;
			}
		}

		&-buttons {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 8px;
		}

		&-items {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 12px;

			@media(min-width: v.$md) {
				gap: 24px;
			}

			span {
				display: flex;
				align-items: center;
				gap: 4px;
				color: v.$c-black;

				@include t.t-text;
			}
		}
	}
}