@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/typography/titles' as t;

.ico-text {
	width: 100%;
	padding: 32px 0;

	&-items {
		width: 100%;
		display: flex;
		flex-flow: column wrap;
		align-items: stretch;
		justify-content: space-between;
		gap: 4px;

		@media(min-width: v.$md) {
			gap: 32px;
			flex-direction: row;
		}
	}

	&-item {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;

		@media(min-width: v.$md) {
			width: calc(100% / 3 - 22px);
		}
	}

	&-ico {
		display: flex;
		justify-content: flex-start;

		img {
			width: auto;
			height: 96px;
			aspect-ratio: 1;
		}
	}

	&-desc {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;

		h3 {
			color: v.$c-black;

			@include t.t-title-bold;
		}

		p {
			color: v.$c-black;

			@include t.t-title-reg;
		}

	}
}