<section class="banner">
    <h2 class="sr-only">Hidden title</h2>
    <div class="container">
        <div class="banner-items">
            <div class="banner-item">
                No fake pricing labels
            </div>
            <span class="banner-dot"></span>
            <div class="banner-item">
                No inflated discounts
            </div>
            <span class="banner-dot"></span>
            <div class="banner-item">
                No public broker listings
            </div>
            <span class="banner-dot"></span>
            <div class="banner-item">
                No noise
            </div>
            <span class="banner-dot"></span>
            <div class="banner-item active">
                Only real property deals 🔥
            </div>
        </div>
    </div>
</section>