<div class="cta-card">
    <div class="cta-card-img">
        <img src="/img/whatsapp-group.png" width="231" height="192" alt="Image">
    </div>
    <div class="cta-card-info">
        <h3>
            Don’t wait till it’s late
        </h3>
        <ul>
            <li>Distress opportunities disappear fast.</li>
            <li>There’s no “save for later.”</li>
            <li>No endless scrolling like a property portal.</li>
            <li>WhatsApp = instant access.</li>
        </ul>
        <a href="#" class="button xl green" target="_blank" rel="noopener noreferrer">
            <img src="/img/whatsapp-3d.png" width="24" height="24" alt="Векторная иконка">
            GET Distress DEALS
        </a>
    </div>
</div>